.classes {
  background-color: var(--gym-black);
  padding: 7rem clamp(1.5rem, 8vw, 9rem);
}

.classes__container {
  max-width: 1300px;
  margin: 0 auto;
}

.classes__header {
  margin-bottom: 4rem;
}
