@use '../../design-system/src/styles/tokens' as *;
@use './styles/tokens.boxing-gym' as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: var(--gym-font-body);
  color: var(--gym-text-primary);
  background-color: var(--gym-surface-app);
}
